#!/usr/bin/env ruby

preprocess do
  def mangle(email)
    sp = '<span class="nospam">&#9251;</span>'
    email.gsub(/[@.]/, "#{sp}\\0#{sp}")
  end
  config[:site] = begin
    h = {}
    h[:author] = 'Kana Natsuno'
    h[:email] = mangle("kana\100whileimautomaton.net")
    h[:domain] = 'whileimautomaton.net'
    h[:name] = 'while ("im automaton");'
    h[:prefix] = "http://#{h[:domain]}"
    h[:signature] = "#{h[:author]} &lt;#{h[:email]}&gt;"
    h[:uri] = "#{h[:prefix]}/"
    h
  end
end

compile '/stylesheet/' do
  # don't filter or layout
end

compile '*' do
  if item.binary?
    # don't filter binary items
  else
    case item[:extension]
    when 'md'
      filter :erb
      filter :kramdown, :input => 'GFM', :hard_wrap => false
    else
      filter :erb
    end
    layout 'default'
  end
end

route '/stylesheet/' do
  '/style.css'
end

route '/' do
  '/index.html'
end

route '*' do
  if item.binary?
    # /foo/ => /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # /foo/ => /foo.html
    item.identifier.chop + '.html'
  end
end

layout '*', :haml, :format => :xhtml, :ugly => true
