#!/usr/bin/env ruby

preprocess do
  def mangle(email)
    sp = '<span class="nospam">&#9251;</span>'
    email.gsub(/[@.]/, "#{sp}\\0#{sp}")
  end
  config[:site] = begin
    h = {}
    h[:author] = 'Kana Natsuno'
    h[:email] = mangle("kana\100whileimautomaton.net")
    h[:domain] = 'whileimautomaton.net'
    h[:name] = 'while ("im automaton");'
    h[:prefix] = "http://#{h[:domain]}"
    h[:signature] = "#{h[:author]} &lt;#{h[:email]}&gt;"
    h[:uri] = "#{h[:prefix]}/"
    h
  end
  config[:recent_topic_count] = 5

  topics_per_month =
    items
    .select(&:topic?)
    .group_by {|i| i.identifier.match(%r{^(/\d+/\d+/)\d+/$})[1]}
  topics_per_month.each do |id, topics|
    items << Nanoc::Item.new(
      "",
      {
        :title => id.sub(%r{/(\d+)/(\d+)/}, '\1-\2'),
        :topics => topics,
      },
      id
    )
  end
end

compile '/rss/' do
  filter 'haml', :format => :xhtml, :ugly => true
end

compile '*' do
  next if item.binary? or item.written_in?('css')

  filter :kramdown,
    :input => 'GFM',
    :hard_wrap => false,
    :auto_ids => false if item.written_in?('md')
  filter 'haml',
    :format => :xhtml,
    :ugly => true if item.written_in?('haml')

  layout 'topic' if item.topic?
  layout 'month_view' if item.month_view?
  layout 'default'
end

route '/rss/' do
  '/rss.rdf'
end

route '/' do
  '/index.html'
end

route '*' do
  # /foo/ => /foo.ext
  next item.identifier.chop + '.' + item[:extension] if
    item.binary? or item.written_in?('css')

  # /YYYY/MM/ => /YYYY/MM/index.html
  next item.identifier + 'index.html' if item.month_view?

  # /foo/ => /foo.html
  next item.identifier.chop + '.html'
end

layout '*', :haml, :format => :xhtml, :ugly => true
